.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  animation: gradient 5s ease infinite;
  background: linear-gradient(-45deg,#deee52,#e78f3c,#d5239a,#d52323);
  background-size: 400% 400%; 
}
.navbar{
  animation: gradient 5s ease infinite;
  background: linear-gradient(-45deg,#deee52,#e78f3c,#d5239a,#d52323);
  background-size: 400% 400%; 
}
.avatar{
  display: flex;
  width: 100%;
  height: 150px;
  border-radius: 50%;
  border-bottom: 1px solid lightgray;
}
.home{
  color: #000;
}
.name{
  padding: 10px 20%;
}
.img{
  padding: 10px 10px 10px 30px;
}
.text5{
  display: flex;
  font-size: 3em;
  align-items: center;
}
.text2{
  font-size: 15.1px;
  border: none;
  background-color: blue;
  padding: 0 6.2px;
  height: 36.6px;
  line-height: 36.6px;
  max-height: 36.6px;
  margin: 0;
  min-width: 199.6px;
  border-radius: 10px;
}
.text3{
  padding: 30px; 
}
.text4{
  padding: 30px; 
}